//Color Variables
$color-primary: rgb(85, 130, 200);
$color-primary-light: rgb(110, 210, 215);
$color-primary-dark: rgb(55, 40, 180);

$color-grey-dark: #777;
$color-grey-light-1: #f7f7f7;
$color-white: #fff;
$color-black: #000;

//Font Variables
$font-normal: 'Poppins',
sans-serif;
$font-special: 'Quicksand',
sans-serif;
$font-size-default: 1.6rem;

//Grid Variables
$grid-width: 114rem;
$grid-gutter-rows: 8rem;
$grid-gutter-columns: 6rem;