$color-primary: rgb(85, 130, 200);
$color-primary-light: rgb(110, 210, 215);
$color-primary-dark: rgb(55, 40, 180);

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

$font-normal: 'Poppins',
sans-serif;
$font-special: 'Quicksand',
sans-serif;